* {
  font-family: "Alice", sans-serif;
  font-variant-numeric: lining-nums tabular-nums;
}
html {
  min-height: 100%;
}
:root {
  --background-color: #573824;
  --surface-color: #f0e8c2;
  --text-color-primary: #291b1a;
  --text-color-secondary: #573a37;
  --text-color-on-bg: #f0e8c2;
}

body {
  background: var(--background-color);
  background-image: url(./assets/bg-image.png);
  color: var(--background-color);
  backdrop-filter: blur(12px);
  background-size: cover;
  min-height: 100vh;
  min-height: 100dvh;
}

#page {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  max-width: 800px;
  padding: 24px;
  background-color: var(--surface-color);
  border-radius: 24px;
  margin: 48px auto;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
}

img,
.responsive {
  max-width: 100%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

#about h1 {
  color: var(--text-color-primary);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
}
#about p {
  color: var(--text-color-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#ingredients h2 {
  color: var(--text-color-primary);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

#ingredients ul {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color-secondary);
}

#preparation h2 {
  color: var(--text-color-primary);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

#preparation p {
  color: var(--text-color-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24 px;
}

footer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  color: var(--text-color-on-bg);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 480px) {
  #page {
    padding: 16px;
    border-radius: 12px;
  }
  main {
    gap: 16px;
  }
  #about h1 {
    font-size: 28px;
    line-height: 36px;
  }
  footer {
    font-size: 28px;
  }
}
